<template>
  <form
    lazy-validation
    class="d-flex flex-column justify-center align-center mt-10"
    @submit.prevent="submit"
  >
    <v-card class="d-flex flex-column justify-center align-center px-10 py-10">
      Are you sure?
      <v-btn outlined class="my-5" color="error" @click="submit">Delete</v-btn>
    </v-card>
  </form>
</template>
<script>
export default {
  data: () => ({
    model: null
  }),
  async mounted() {
    await this.$nextTick(async () => {
      const db = await this.$models
      this.model = db.get(this.$route.params.id)[0]
    })
  },
  methods: {
    async submit() {
      const db = await this.$models
      db.del(this.$route.params.id)
      this.$router.push('/')
    }
  }
}
</script>
