<template>
  <div class="d-flex flex-column justify-center align-center">
    <v-carousel
      v-if="model && model.photos"
      cycle
      height="400"
      hide-delimiter-background
      :show-arrows-on-hover="model.photos.length > 0"
      :show-arrows="model.photos.length > 0"
    >
      <v-carousel-item v-for="(photo, i) in model.photos" :key="i">
        <v-sheet height="100%">
          <v-row class="fill-height" align="center" justify="center">
            <div class="display-3">
              <v-img :src="`data:image/jpeg;base64,${photo}`" />
            </div>
          </v-row>
        </v-sheet>
      </v-carousel-item>
    </v-carousel>
    <div v-if="model" class="d-flex flex-column justify-stretch">
      <div class="d-flex flex-row justify-space-between">
        <div>First name</div>
        <div>{{ model.firstName }}</div>
      </div>
      <div class="d-flex flex-row justify-space-between">
        <div>Last name</div>
        <div>{{ model.lastName }}</div>
      </div>
      <div class="d-flex flex-row justify-space-between">
        <div>Age</div>
        <div>{{ model.age }}</div>
      </div>
      <div class="d-flex flex-row justify-space-between">
        <div>Weight</div>
        <div>{{ model.weight }}</div>
      </div>
      <div class="d-flex flex-row justify-space-between">
        <div>Languages</div>
        <div>{{ model.languages }}</div>
      </div>
      <div class="d-flex flex-row justify-space-between">
        <div>maritalStatus</div>
        <div>{{ model.maritalStatus }}</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  asyncData() {
    return {
      model: null
    }
  },
  async mounted() {
    await this.$nextTick(async () => {
      const db = await this.$models
      const fingerprint = await this.$fingerprint
      const model = db.get(this.$route.params.id)[0]
      if (model) {
        console.log('model', model)
        if ('views' in model) {
          const viewed = model.views.includes(fingerprint)
          if (!viewed) {
            console.log('not viewed')
            model.views.push(fingerprint)
          }
        } else {
          console.log('views not set')
          model.views = []
          model.views.push(fingerprint)
        }
      }

      this.model = model
      // db.put({ ...model })
      db.put({
        _id: model._id,
        firstName: model.firstName,
        lastName: model.lastName,
        age: model.age,
        weight: model.weight,
        languages: model.languages || [],
        maritalStatus: model.maritalStatus,
        photos: model.photos || [],
        views: model.views || [],
        likes: model.likes || []
      })
      if (!this.model) {
        this.router.push('/')
      }
    })
  }
}
</script>
