<template>
  <form
    lazy-validation
    class="d-flex flex-column justify-center align-center mt-10"
    @submit.prevent="submit"
  >
    <v-text-field
      id="firstName"
      v-model="firstName"
      :rules="rules.firstName"
      :error="errors.firstName.length > 0"
      :error-messages="errors.firstName"
      name="firstName"
      label="First name"
      type="text"
      clearable
      outlined
      required
      @focus="errors.firstName = []"
    />
    <v-text-field
      id="lastName"
      v-model="lastName"
      :rules="rules.lastName"
      :error="errors.lastName.length > 0"
      :error-messages="errors.lastName"
      name="lastName"
      label="Last name"
      type="text"
      clearable
      outlined
      required
      @focus="errors.lastName = []"
    />
    <v-text-field
      id="age"
      v-model="age"
      :rules="rules.age"
      :error="errors.age.length > 0"
      :error-messages="errors.age"
      name="age"
      label="age"
      type="float"
      outlined
      required
      @focus="errors.age = []"
    />
    <v-text-field
      id="weight"
      v-model="weight"
      :rules="rules.weight"
      :error="errors.weight.length > 0"
      :error-messages="errors.weight"
      name="weight"
      label="weight"
      type="float"
      outlined
      required
      @focus="errors.weight = []"
    />
    <v-autocomplete
      v-model="selectedLanguages"
      :items="languages"
      hide-no-data
      hide-selected
      label="Languages"
      outlined
      multiple
    />
    <v-autocomplete
      v-model="maritalStatus"
      :items="maritalStatuses"
      hide-no-data
      hide-selected
      label="Marital status"
      outlined
    />
    <v-file-input
      v-model="photos"
      color="deep-purple accent-4"
      counter
      label="Photos"
      multiple
      placeholder="Select model photos"
      prepend-icon="mdi-camera"
      outlined
      :show-size="1000"
    >
      <template v-slot:selection="{ index, text }">
        <v-chip v-if="index < 2" color="deep-purple accent-4" dark label small>
          {{ text }}
        </v-chip>

        <span
          v-else-if="index === 2"
          class="overline grey--text text--darken-3 mx-2"
        >
          +{{ photos.length - 2 }} Photo(s)
        </span>
      </template>
    </v-file-input>
    <v-btn
      :disabled="loading"
      :loading="loading"
      class="mt-5"
      type="submit"
      color="success"
      outlined
      large
    >
      Update
    </v-btn>
  </form>
</template>
<script>
export default {
  middleware: 'auth',
  data: () => {
    return {
      loading: false,
      firstName: 'Ilona',
      lastName: 'Aleshkevich',
      age: 18,
      weight: 40,
      maritalStatus: '',
      maritalStatuses: [],
      selectedLanguages: 'English',
      languages: ['Russian', 'English', 'Spanish', 'Turkish', 'Georigan'],
      photos: [],
      base64photos: [],
      views: [],
      likes: [],
      errors: {
        firstName: [],
        lastName: [],
        age: [],
        weight: []
      },
      rules: {
        firstName: [],
        lastName: [],
        age: [],
        weight: []
      }
    }
  },
  watch: {
    photos(value) {
      this.convertImages()
      return value
    }
  },
  async mounted() {
    await this.$nextTick(async () => {
      const db = await this.$models
      const model = db.get(this.$route.params.id)[0]
      this.firstName = model.firstName
      this.lastName = model.lastName
      this.age = model.age
      this.weight = model.weight
      this.maritalStatus = model.maritalStatus
      this.selectedLanguages = model.languages
      this.base64photos = model.photos
      this.likes = model.likes
      this.views = model.views
    })
  },
  methods: {
    convertImages() {
      const self = this
      self.photos.forEach(function(photo) {
        self.getBase64(photo).then((result) => {
          self.base64photos.push(result)
        })
      })
    },
    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = () => {
          let encoded = reader.result.toString().replace(/^data:(.*,)?/, '')
          if (encoded.length % 4 > 0) {
            encoded += '='.repeat(4 - (encoded.length % 4))
          }
          resolve(encoded)
        }
        reader.onerror = (error) => reject(error)
      })
    },
    async submit() {
      const db = await this.$models
      const _id = this.$route.params.id
      await db.put({
        _id,
        firstName: this.firstName,
        lastName: this.lastName,
        age: this.age,
        weight: this.weight,
        languages: this.selectedLanguages,
        maritalStatus: this.maritalStatus,
        photos: this.base64photos,
        views: this.views,
        likes: this.likes
      })
      this.$router.push(`/models/${_id}`)
    }
  }
}
</script>
