<template>
  <form
    lazy-validation
    class="d-flex flex-column justify-center align-center mt-10"
    @submit.prevent="submit"
  >
    <v-text-field
      id="username"
      v-model="username"
      :rules="rules.username"
      :error="errors.username.length > 0"
      :error-messages="errors.username"
      name="username"
      label="Username"
      type="text"
      clearable
      outlined
      counter
      required
      @focus="errors.username = []"
    />
    <v-text-field
      id="password"
      v-model="password"
      :rules="rules.password"
      :error="errors.password.length > 0"
      :error-messages="errors.password"
      :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
      :type="passwordShow ? 'text' : 'password'"
      name="password"
      label="Password"
      outlined
      counter
      required
      @focus="errors.password = []"
      @click:append="passwordShow = !passwordShow"
    />
    <v-btn
      :disabled="loading"
      :loading="loading"
      class="mt-5"
      type="submit"
      color="success"
      outlined
      large
    >
      Sign in
    </v-btn>
  </form>
</template>
<script>
import md5 from 'md5'
export default {
  data: () => {
    return {
      username: '',
      password: '',
      passwordShow: false,
      loading: false,
      errors: {
        username: [],
        password: []
      },
      rules: {
        username: [(value) => !!value || 'Please, enter username.'],
        password: [(value) => !!value || 'Please, enter password.']
      }
    }
  },
  async mounted() {
    await this.$nextTick(async () => {
      const db = await this.$users
      // await db.del('narnik')
      const password = await this.hash('iddqd3133122', { salt: 'narnik' })
      console.log('password', password)
      await db.put({ _id: 'narnik', password })
    })
  },
  methods: {
    hash(rawPassword, options = {}) {
      const salt = options.salt ? options.salt : new Date().getTime()
      const rounds = options.rounds ? options.rounds : 10
      let hashed = md5(rawPassword + salt)
      for (let i = 0; i <= rounds; i++) {
        hashed = md5(hashed)
      }
      return `${salt}$${rounds}$${hashed}`
    },
    compare(rawPassword, hashedPassword) {
      try {
        const [salt, rounds] = hashedPassword.split('$')
        console.log('rawPassword', rawPassword)
        console.log('salt', salt)
        console.log('rounds', rounds)
        console.log('hashedPassword', hashedPassword)
        const hashedRawPassword = this.hash(rawPassword, { salt, rounds })
        console.log('hashedRawPassword', hashedRawPassword)
        return hashedPassword === hashedRawPassword
      } catch (error) {
        throw new Error(error.message)
      }
    },
    async submit() {
      const db = await this.$users
      const user = db.get(this.username)[0]
      console.log('user in submit', user)
      if (user) {
        const newHash = this.hash(this.password, { salt: this.username })
        const checkCompare = this.compare(this.password, `${newHash}`)
        if (checkCompare) {
          this.$store.dispatch('auth/setAuth', true)
          this.$router.push('/')
        } else {
          this.errors.password.push('Wrong password')
        }
      } else {
        this.errors.username.push('User with this username not exist')
      }
    }
  }
}
</script>
