<template>
  <v-row>
    <v-col v-for="model in models" :key="model._id" xs="12" sm="6" md="4">
      <v-card
        max-width="344"
        class="mx-auto"
        @click="$router.push(`/models/${model._id}`)"
      >
        <v-list-item v-if="$store.state.auth.auth">
          <v-spacer />
          <v-list-item-action color="grey">
            <v-btn
              icon
              @click.stop="$router.push(`/models/${model._id}/update`)"
            >
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
            <v-btn
              icon
              @click.stop="$router.push(`/models/${model._id}/delete`)"
            >
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </v-list-item-action>
          <!--v-list-item-content>
            <v-list-item-title class="headline"
              >Our Changing Planet</v-list-item-title
            >
            <v-list-item-subtitle>by Kurt Wagner</v-list-item-subtitle>
          </v-list-item-content-->
        </v-list-item>

        <v-img
          v-if="model.photos && model.photos.length > 0"
          :src="`data:image/jpeg;base64,${model.photos[0]}`"
          height="194"
        />
        <v-img
          v-else
          src="https://unamo.com/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png"
          height="194"
        />
        <v-card-title>{{ model.firstName }} {{ model.lastName }}</v-card-title>
        <v-card-text>
          Visit ten places on our planet that are undergoing the biggest changes
          today.
        </v-card-text>

        <v-card-actions>
          <!--v-btn text color="deep-purple accent-4">
            Read
          </v-btn>
          <v-btn text color="deep-purple accent-4">
            Bookmark
          </v-btn-->
          <v-spacer></v-spacer>
          <v-row align="center" justify="end">
            <v-btn icon @click.stop="like(model._id)">
              <v-icon
                class="mr-1"
                :color="model.likes.includes(fingerprint) ? 'red' : 'white'"
              >
                mdi-heart
              </v-icon>
            </v-btn>
            <span class="subheading mr-2">{{ model.likes.length }}</span>
            <span class="mr-1">·</span>
            <v-icon class="mr-1">mdi-eye</v-icon>
            <span class="subheading mr-5">{{ model.views.length }}</span>
          </v-row>
          <!--v-btn icon>
            <v-icon>mdi-share-variant</v-icon>
          </v-btn-->
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
  asyncData() {
    return {
      models: [],
      fingerprint: null
    }
  },
  async mounted() {
    const self = this
    await self.$nextTick(async () => {
      const db = await this.$models
      console.log('db', db)
      this.fingerprint = await this.$fingerprint
      this.models = db.query((model) => model)
      console.log('models', this.models)
      db.events.on('write', (address, entry, heads) => {
        const models = self.models
        for (const i in models) {
          if (models[i]._id === entry.payload.value._id) {
            self.$set(self.models, i, entry.payload.value)
            break
          }
        }
      })
    })
  },
  methods: {
    async like(modelId) {
      const fingerprint = await this.$fingerprint
      const db = await this.$models
      const model = await db.get(modelId)[0]
      if (model) {
        const liked = await model.likes.includes(fingerprint)
        if (!liked) {
          const likes = model.likes
          likes.push(fingerprint)
          db.put({
            _id: model._id,
            firstName: model.firstName,
            lastName: model.lastName,
            age: model.age,
            weight: model.weight,
            languages: model.languages || [],
            maritalStatus: model.maritalStatus,
            photos: model.photos || [],
            views: model.views || [],
            likes
          })
        } else {
          const likes = model.likes.filter((e) => e !== fingerprint)
          db.put({
            _id: model._id,
            firstName: model.firstName,
            lastName: model.lastName,
            age: model.age,
            weight: model.weight,
            languages: model.languages || [],
            maritalStatus: model.maritalStatus,
            photos: model.photos || [],
            views: model.views || [],
            likes
          })
        }
      }
    }
  }
}
</script>
